body{
    background-color: #f4f4f4;
}

nav{
    background-color: #007bff!important  ;
    color: #fff !important;
    height: 35px !important;
}

nav .navbar-brand{
    color: #fff !important
}

 

#navbarSupportedContent .navbar-nav .nav-link{
    color: #fff !important;
}

#body-section{
    height: 100%;
    margin-bottom: 2rem
}


#heroSection{
    background-color: #fff;
    color:#007bff!important;
    padding: 20px 20px;
}
#heroSection span{
    color: #000!important;
    font-size: 16px
}

#sidebar{
    margin-top: 3rem;
}

.rounded-pill{
    float: right
}

#side-user-card{
    margin-top: 1rem;
    
}







.disk-space{
    margin-top: 1rem;
    padding: 10px 5px;
    background-color: #fff;
    font-size: 17px;
    
}
.bandwidth{
     margin-top: 1rem;
    padding: 10px 5px;
    background-color: #fff;
    font-size: 17px;
}


.websie-ovirview{
    text-align: center;
    align-content: center
}


.website-overview-card{
    padding: 30px 3px;
    background-color: #e1e6ea!important;
    color: #000;
    font-size: 33px;
    border-right: 4px solid #fff;
    cursor: pointer;
     
}
.website-overview-card a{
    color: #000;
    text-decoration: none;
}


.table-section{
    padding: 10px;
    background-color: #fff;
}







/*footer */
footer{
    background-color: #007bff !important;
    color: #fff
}


/* Responsive */

@media only screen and (max-width: 600px) {
   
nav .admin-name{
    display: none;
}
    nav{
        height: 100% !important
    }
    #navbarSupportedContent > ul{
        background-color: #007bff !important;
     }

    .heroSection{
        text-align: center;
        align-items: center;
    }
    #heroSection > div > div > div.col-md-2{
       text-align: center;
        margin-top: 1.2rem
    }
}


